<packages>
    <package id="googlechrome" />
    <package id="vscode" />
    <package id="ditto" />
    <package id="wox" />
    <package id="everything" />
    <package id="thunderbird" />
    <package id="vlc" />
    <package id="gimp" />
    <package id="powertoys" />
    <package id="discord" />
    <package id="git" />
    <package id="graphviz" />
    <package id="gpg4win" />
    <package id="firefox" />
</packages>
